{% extends 'base.html' %} {% load static %}


<body>
    {% block content %} {% load cart %} {% load custom_filter %}
    <div class="container  ">

        <div class="border border-1 rounded-3 m-4 p-4  ">
            <h1 class="display-4 px-4 mx-4"> Your Cart</h1>
            <hr>
            <table class="table table-borderless">
                <thead class="table">
                    <tr>
                        <th scope="col">Sno.</th>
                        <th scope="col">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>

                {% for product in products %}
                <tbody>
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><img src="{{product.image.url}}" class="rounded-circle" style="height:50px;width:60px; display:cover;"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.price|currency}}</td>
                        <td>{{product|cart_quantity:request.session.cart}}</td>
                        <td>{{product|price_total:request.session.cart|currency}}</td>

                </tbody>
                {% endfor %}
                <hr>
                <tfoot class="table-light">
                    <th colspan="4"></th>
                    <th>Total</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tfoot>
            </table>
            <hr>
            <div class="m-3 p-3 ">
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-info btn-lg border rounded btn-light float-end">Checkout</button>
                <br/>
            </div>
        </div>
    </div>

    <!------Modal-->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header m-4 p-4">
                    <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3 p-3">
                    <form action="/checkout" method="post">
                        {% csrf_token %}
                            


                        <div class="mb-3">
                            <label for="address" class="col-form-label">Address</label>
                            <input type="text" class="form-control" name="address" id="address">
                        </div>

                        <div class="mb-3">
                            <label for="phone" class="col-form-label">Phone</label>
                            <input type="text" class="form-control" name="phone" id="phone">
                        </div>
                        <br>
                        <input type="submit" value="Checkout" class="btn btn-primary float-end">
                    </form>
                </div>
              
            </div>
        </div>
    </div>
    {% endblock %}