{% extends 'base.html' %} {% load static %} {% block style %}

<style>
    .form_label {
        margin-top: 5%;
    }
    
    .form_decoration {
        border: 1px;
        padding: 12%;
        border-style: 0.5px solid;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-bottom: 15%;
    }
    
    .form_decoration .textboxdesign {
        margin-top: 2%;
        border-radius: 5px;
    }
    
    .form_decoration .btn-dec:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
    
    .img {
        width: 35%;
        height: 35%;
    }
</style>
{% endblock %}

<body>
{% block content %}
        <div class="container  ">
        <div class="container form_label ">
            <div class="row justify-content-center row_style">
                <div class=" col-md-5 col-lg-4  ">

                    <form class="form_decoration" action='signin' method='POST'>
                        
                            {% if error%}
                            
                            <div class="alert alert-danger" role="alert">
                            {% autoescape on %}
                                    {{error | linebreaksbr}}   
                            {% endautoescape %}
                                
                            </div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="mb-3 offset-4">
                            <img src=" {% static 's.svg' %}" class="img">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" name='email' class="form-control textboxdesign" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label ">Password</label>
                            <input type="password" name='password' class="form-control textboxdesign" id="exampleInputPassword1">
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-dec float-end">Login</button>
                    </form>

                </div>

            </div>
        </div>

    </div>


{% endblock %}